html,
body {
  margin: 0;
  height: 100%;
}

.bg-container {
  min-height: 100%;
  width: 100%;
  position: relative;
  height: 100vh;
  overflow: auto;
}
.bg-img {
  width: 100%;
  position: absolute;
  inset: 0;
  object-fit: contain;
}

.content {
  position: relative;
  min-height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
}
.rps-button-container {
  margin-top: 70px;
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 4rem;
}
.rps {
  padding: 0;
  margin: 0;
  border: 0;
  height: 180px;
  width: 180px;
  border-radius: 200px;
  overflow: hidden;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.scoreboard-span {
  display: flex;
  flex-direction: column;
}

.score-h2 {
  color: blue;
  margin: 0;
}

.start-game {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.start-game-btn {
  height: 80px;
  width: 200px;
}

.ask-input-span {
  margin-top: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ask-input-span h2 {
  margin: 0;
}

#human-score-desc {
  margin-top: 15px;
  margin-left: 15px;
}

#computer-score-desc {
  margin-top: 10px;
  margin-left: 15px;
}
#rock-btn {
  background-image: url("resources/rock.png");
}
#paper-btn {
  background-image: url("resources/paper.png");
}

#scissor-btn {
  background-image: url("resources/scissors.png");
}

.rps:focus {
  outline: 2px solid red;
}

.weapon {
  font-size: 50px;
}

.result-div {
  padding-top: 175px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.computer-pick {
  margin: 0;
  font-size: 50px;
}
.winner-declaration {
  margin: 0;
  padding-top: 25px;
  font-size: 50px;
}
